@import './resets';
@import './variables';



$font-weight:(
    "regular":400,
    "medium":500,
    "bold":700
);

body{
    background-color: $primary-color;
    // font-weight: map-get($map: $font-weight, $key:"bold");
}
.main {
    width: 80%;
    margin: 0 auto;

    
    #{&}__paragraph{
        font-weight: map-get($map: $font-weight, $key:$bold );

        &:hover{
            color: pink;
        }

    }
   
}